# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Environment files
.env
.env.*
.streamlit/

# Editor/Notes
.obsidian/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

# Private docs
1.設定文件*
2.記錄文件*
